.color-dot-bar {
  display: flex;
  align-items: center;
  .common-icon {
    &::after {
      transition: width .4s;
      content: '';
      width: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      position: absolute;
      bottom: -5px;
    }
  }
  .common-icon.active {
    position: relative;
    &::after {
      content: '';
      width: 100%;
      background-color: red;
    }
  }
}